{{> header}}
{{> navbar}}
<div class="row">
    <div class="col-8"><h1>
        About page
    
    </h1>
    <p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore a possimus ipsam nostrum enim, numquam nam maxime, facilis voluptates ea doloremque officia aspernatur doloribus officiis. Suscipit accusantium deleniti dignissimos molestiae.
    </p>
    </div>
        <div class="col-4">
            <img src="assets/img/frases-de-karate.jpg" class="img-thumbnail" alt="">
        </div>

</div>

{{> footer}}